@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;
    --black: 0 0% 0%;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary-light-1: 262 27% 92%;
    --primary-light-2: 255 28% 77%;

    --primary: 258 37% 25%;
    --primary-foreground: 0 0% 98%;

    --primary-dark-1: 258 37% 25%;
    --primary-dark-2: 255 36% 9%;

    --secondary-light-1: 210 43% 95%;
    --secondary-light-2: 209 44% 83%;

    --secondary: 209 54% 45%;
    --secondary-foreground: 240 5.9% 10%;

    --secondary-dark-1: 209 54% 27%;
    --secondary-dark-2: 209 54% 14%;

    --tertiary-light-1: 45 91% 96%;
    --tertiary-light-2: 45 94% 87%;

    --tertiary: 45 93% 58%;

    --tertiary-dark-1: 45 100% 22%;
    --tertiary-dark-2: 45 67% 12%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 262 27% 92%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success-light-1: 158 74% 79%;
    --success-light-2: 159 43% 50%;

    --success: 158 96% 27%;

    --success-dark-1: 158 96% 22%;
    --success-dark-2: 158 95% 16%;

    --warning-light-1: 25 84% 85%;
    --warning-light-2: 25 83% 71%;

    --warning: 25 83% 51%;

    --warning-dark-1: 25 80% 41%;
    --warning-dark-2: 25 79% 31%;

    --error-light-1: 0 80% 90%;
    --error-lihgt-2: 0 78% 71%;

    --error: 0 78% 52%;

    --error-dark-1: 0 72% 42%;
    --error-dark-2: 0 72% 31%;

    --purple-100: 262 27% 92%;
    --purple-200: 255 28% 77%;
    --purple-300: 259 35% 40%;
    --purple-400: 258 37% 25%;
    --purple-500: 255 36% 9%;

    --blue-100: 210 43% 95%;
    --blue-200: 209 44% 83%;
    --blue-300: 209 54% 45%;
    --blue-400: 209 54% 27%;
    --blue-500: 209 54% 14%;

    --green-100: 158 74% 79%;
    --green-200: 159 43% 50%;
    --green-300: 158 96% 27%;
    --green-400: 158 96% 22%;
    --green-500: 158 95% 16%;

    --yellow-100: 45 91% 96%;
    --yellow-200: 45 94% 87%;
    --yellow-300: 45 93% 58%;
    --yellow-400: 45 100% 22%;
    --yellow-500: 45 67% 12%;

    --red-100: 0 80% 90%;
    --red-200: 0 78% 71%;
    --red-300: 0 78% 52%;
    --red-400: 0 72% 42%;
    --red-500: 0 72% 31%;

    --orange-100: 25 84% 85%;
    --orange-200: 25 83% 71%;
    --orange-300: 25 83% 51%;
    --orange-400: 25 80% 41%;
    --orange-500: 25 79% 31%;

    --neutral-50: 0 0% 96%;
    --neutral-100: 0 0% 90%;
    --neutral-200: 240 1% 78%;
    --neutral-300: 240 1% 61%;
    --neutral-400: 240 0% 49%;
    --neutral-500: 240 1% 38%;
    --neutral-600: 240 1% 30%;
    --neutral-700: 240 1% 23%;
    --neutral-800: 240 1% 15%;
    --neutral-900: 0 0% 7%;

    --border: 262 27% 92%;
    --input: 262 27% 92%;
    --ring: 258 37% 50%;

    --radius: 0.375rem;
  }

  .dark {
    --background: 255, 36%, 9%;
    --foreground: 0 0% 98%;

    --card: 255 36% 9%;
    --card-foreground: 0 0% 98%;

    --popover: 255 36% 9%;
    --popover-foreground: 0 0% 98%;

    --primary: 259 35% 40%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 258 37% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 258 37% 15%;
    --input: 258 37% 15%;
    --ring: 258 37% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* NProgress */
#nprogress .bar {
  background: hsl(var(--primary)) !important;
  border: 2px solid hsl(var(--primary)) !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px hsl(var(--primary)),
    0 0 5px hsl(var(--primary)) !important;
}

#nprogress .spinner-icon {
  border-top-color: hsl(var(--primary)) !important;
  border-left-color: hsl(var(--primary)) !important;
}
